@import "../sass-devtools.scss";
//
// Sass Devtools v.1.0
// Author: João Paulo (https://github.com/jaoz)
// Repository: https://github.com/jaoz/sass-devtools
//

//
// Variables
//
$pink: #CC6699;
$dark-pink: #b54a7d;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  @include transition(all, 100ms, ease);
}

::selection {
  background: $pink;
  color: $white;
}

::-moz-selection {
  background: $pink;
  color: $white;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

header {
  background: $pink;
  width: 100%;
  height: auto;
  color: $white;
  padding: convertoEM(20) convertoEM(0) convertoEM(50) convertoEM(0);

  h1 {
    margin-top: convertoEM(10);
    display: inline-block;
    font-size: convertoEM(60);
  }

  h2 {
    font-size: convertoEM(10);
  }

  ul {
    margin: convertoEM(40) 0;
    
    li {
      list-style: none;
      display: inline-block;
      background: $white;
      padding: convertoEM(10);
      @include opacity(.9, 90);
      @include border-radius(convertoEM(2));

      a {
        color: $pink;
        text-decoration: none;
        padding-left: convertoEM(10);
      }

      i {
        font-size: convertoEM(18);
        color: $pink;
        padding-top: convertoEM(1);
      }
    }

    li:hover {
      background: $dark-pink;
    }
  }

  .navigation {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #333;
    width: 100%;
    height: convertoEM(80);
    margin: 0;
    display: none;
    -webkit-animation: nav 300ms;
       -moz-animation: nav 300ms;
            animation: nav 300ms;

    .content-navigation {
      max-width: 95%;
      margin: 0 auto;
    }

    button {
      display: none;
    }

    .logo {
      background: url("../images/logo.png") no-repeat;
      width: convertoEM(80);
      height: convertoEM(80);
      margin-top: convertoEM(10);
    }

    ul {
      float: right;
      display: block;
      clear: both;
      margin-top: convertoEM(-66);

      li {
        display: inline-block;
        background: transparent;

        a {
          color: $white;
          text-align: center;
          padding-left: 0;
        }

        a:hover {
          background: transparent;
          text-align: center;
          color: $dark-pink;
        }
      }
    }
  	
  	li {
  	  list-style: none;
  	  display: inline-block;
  	  background: $white;
  	  padding: convertoEM(10);
  	  @include opacity(.9, 90);
  	  @include border-radius(convertoEM(2));

  	  a {
  	  	color: $pink;
  	  	text-decoration: none;
  	  	padding-left: convertoEM(10);
  	  }

  	  i {
  	    font-size: convertoEM(18);
  	    color: $pink;
  	    padding-top: convertoEM(1);
  	  }
  	}

  	li:hover {
  	  background: $dark-pink;
  	}
  }

  .navigation {
    position: fixed;
    top: 0;
    z-index: 9999;
    background: #333;
    width: 100%;
    height: convertoEM(80);
    display: none;
    -webkit-animation: nav 300ms;
       -moz-animation: nav 300ms;
            animation: nav 300ms;

    .content-navigation {
      max-width: 95%;
      margin: 0 auto;
    }

    button {
      display: none;
    }

    .logo {
      background: url("../images/logo.png") no-repeat;
      width: convertoEM(80);
      height: convertoEM(80);
      margin-top: convertoEM(10);
    }

    ul {
      float: right;
      display: block;
      clear: both;
      margin-top: convertoEM(-66);

      li {
        display: inline-block;
        background: transparent;

        a {
          color: $white;
        }
      }

      li:hover {
        background: $pink;

        a {
          color: $white;
        }
      }
    }
  }
}

@-webkit-keyframes nav {
    0% {
      margin-top: convertoEM(-100);
    }

    100% {
      margin-top: 0;
    }
  }

@keyframes nav {
  0% {
    margin-top: convertoEM(-100);
  }

  100% {
    margin-top: 0;
  }
}

@-webkit-keyframes nav {
    0% {
      margin-top: convertoEM(-100);
    }

    100% {
      margin-top: 0;
    }
  }

@keyframes nav {
  0% {
    margin-top: convertoEM(-100);
  }

  100% {
    margin-top: 0;
  }
}

.content-sass {
  margin-top: convertoEM(130);

  h1 {
    color: $pink;
    text-decoration: none;
    margin-top: convertoEM(30);
  }

  h2 {
    color: $pink;
    text-decoration: none;
  }

  span {
    background: #eee;
    border: convertoEM(1) solid #ccc;
    padding: convertoEM(10);
    margin-top: convertoEM(10);
    display: inline-block;
    width: 100%;
    @include border-radius(convertoEM(5));
  }

  .auto {
    background: #eee;
    border: convertoEM(1) solid #ccc;
    padding: convertoEM(5);
    display: inline-block;
    width: auto;
    @include border-radius(convertoEM(5));
  }

  p {
    margin-top: convertoEM(5);
    display: inline-block;
  }

  ul {
    li {
      list-style: none;
    }
  }
}

footer {
  width: 100%;
  height: 100px;
  background: #eee;
  margin-top: convertoEM(40);
  display: inline-block;

  p {
    color: #999;
    margin-top: convertoEM(45);
  }

  .logo {
    background: url('images/logo.png') no-repeat;
    width: 80px;
    height: 80px;
    float: right;
    display: block;
    margin-top: convertoEM(-45);
  }
}

@media screen and (max-width: convertoEM(990)) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  header {
    .navigation {
      ul {
        display: block;
      }
    }
  }

  header {
    .navigation {
      ul {
        display: block;
      }
    }
  }
}

@media screen and (max-width: convertoEM(700)) {
  header {
    h1 {
      font-size: 8vw;
      text-align: center;
      width: 100%;
    }

    h3 {
      text-align: center;
      width: 100%;
      margin-top: convertoEM(20);
    }

    ul {
      width: 100%;
      margin-left: convertoEM(-10);
      margin-bottom: 0;

      li {
        width: 100%;
        margin-bottom: convertoEM(2);

        a {
          width: 100%;
          text-align: center;

          i {
          width: 100%;
          text-align: center;
        }
        }
      }
    }

    .navigation {
      width: 100%;
    
      .logo {
        margin: 0 auto;
        margin-top: convertoEM(10);
      }

      .content-navigation {
        width: 95%;
        margin: 0 auto;
      }

      button {
        display: block;
        float: right;
        display: block;
        margin: convertoEM(-70) convertoEM(10) 0 0;
        background: transparent;
        border: none;
        
        i {
          font-size: convertoEM(30);
          color: $white;
        }
      }

      ul {
        position: absolute;
        top: convertoEM(80);
        left: 0;
        background: #222;
        margin: 0;
        width: 100%;
        display: none;

        li { 
          padding: convertoEM(20);
          padding-left: convertoEM(10);

          a {
            color: $pink;
          }

          a:after {
            font-family: "FontAwesome";
            content: "\f061";
            float: right;
            margin-right: convertoEM(20);
          }
        }

        li:hover {
          background: #111;
        }
      }
    }
  }

  .content-sass {
    span {
      margin-left: convertoEM(-10);
    }
  }

  footer {
    float: left;
    display: block;
    clear: both;
    height: auto;
    text-align: center;

    img {
      margin: 0 auto;
      display: table;
    }
  }
}
