* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
}

::selection {
  background: #cc6699;
  color: white;
}

::-moz-selection {
  background: #cc6699;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background: #cc6699;
  width: 100%;
  height: auto;
  color: white;
  padding: 1.25em 0em 3.125em 0em;
}
header h1 {
  margin-top: 0.625em;
  display: inline-block;
  font-size: 3.75em;
}
header h2 {
  font-size: 0.625em;
}
header ul {
  margin: 2.5em 0;
}
header ul li {
  list-style: none;
  display: inline-block;
  background: white;
  padding: 0.625em;
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  border-radius: 0.125em;
}
header ul li a {
  color: #cc6699;
  text-decoration: none;
  padding-left: 0.625em;
}
header ul li i {
  font-size: 1.125em;
  color: #cc6699;
  padding-top: 0.0625em;
}
header ul li:hover {
  background: #b54a7d;
}
header .navigation {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #333;
  width: 100%;
  height: 5em;
  margin: 0;
  display: none;
  -webkit-animation: nav 300ms;
  -moz-animation: nav 300ms;
  animation: nav 300ms;
}
header .navigation .content-navigation {
  max-width: 95%;
  margin: 0 auto;
}
header .navigation button {
  display: none;
}
header .navigation .logo {
  background: url("../images/logo.png") no-repeat;
  width: 5em;
  height: 5em;
  margin-top: 0.625em;
}
header .navigation ul {
  float: right;
  display: block;
  clear: both;
  margin-top: -4.125em;
}
header .navigation ul li {
  display: inline-block;
  background: transparent;
}
header .navigation ul li a {
  color: white;
  text-align: center;
  padding-left: 0;
}
header .navigation ul li a:hover {
  background: transparent;
  text-align: center;
  color: #b54a7d;
}
header .navigation li {
  list-style: none;
  display: inline-block;
  background: white;
  padding: 0.625em;
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  -webkit-border-radius: 0.125em;
  -moz-border-radius: 0.125em;
  border-radius: 0.125em;
}
header .navigation li a {
  color: #cc6699;
  text-decoration: none;
  padding-left: 0.625em;
}
header .navigation li i {
  font-size: 1.125em;
  color: #cc6699;
  padding-top: 0.0625em;
}
header .navigation li:hover {
  background: #b54a7d;
}
header .navigation {
  position: fixed;
  top: 0;
  z-index: 9999;
  background: #333;
  width: 100%;
  height: 5em;
  display: none;
  -webkit-animation: nav 300ms;
  -moz-animation: nav 300ms;
  animation: nav 300ms;
}
header .navigation .content-navigation {
  max-width: 95%;
  margin: 0 auto;
}
header .navigation button {
  display: none;
}
header .navigation .logo {
  background: url("../images/logo.png") no-repeat;
  width: 5em;
  height: 5em;
  margin-top: 0.625em;
}
header .navigation ul {
  float: right;
  display: block;
  clear: both;
  margin-top: -4.125em;
}
header .navigation ul li {
  display: inline-block;
  background: transparent;
}
header .navigation ul li a {
  color: white;
}
header .navigation ul li:hover {
  background: #cc6699;
}
header .navigation ul li:hover a {
  color: white;
}

@-webkit-keyframes nav {
  0% {
    margin-top: -6.25em;
  }

  100% {
    margin-top: 0;
  }
}
@keyframes nav {
  0% {
    margin-top: -6.25em;
  }

  100% {
    margin-top: 0;
  }
}
@-webkit-keyframes nav {
  0% {
    margin-top: -6.25em;
  }

  100% {
    margin-top: 0;
  }
}
@keyframes nav {
  0% {
    margin-top: -6.25em;
  }

  100% {
    margin-top: 0;
  }
}
.content-sass {
  margin-top: 8.125em;
}
.content-sass h1 {
  color: #cc6699;
  text-decoration: none;
  margin-top: 1.875em;
}
.content-sass h2 {
  color: #cc6699;
  text-decoration: none;
}
.content-sass span {
  background: #eee;
  border: 0.0625em solid #cccccc;
  padding: 0.625em;
  margin-top: 0.625em;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
.content-sass .auto {
  background: #eee;
  border: 0.0625em solid #cccccc;
  padding: 0.3125em;
  display: inline-block;
  width: auto;
  -webkit-border-radius: 0.3125em;
  -moz-border-radius: 0.3125em;
  border-radius: 0.3125em;
}
.content-sass p {
  margin-top: 0.3125em;
  display: inline-block;
}
.content-sass ul li {
  list-style: none;
}

footer {
  width: 100%;
  height: 100px;
  background: #eee;
  margin-top: 2.5em;
  display: inline-block;
}
footer p {
  color: #999;
  margin-top: 2.8125em;
}
footer .logo {
  background: url("images/logo.png") no-repeat;
  width: 80px;
  height: 80px;
  float: right;
  display: block;
  margin-top: -2.8125em;
}

@media screen and (max-width: 61.875em) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  header .navigation ul {
    display: block;
  }

  header .navigation ul {
    display: block;
  }
}
@media screen and (max-width: 43.75em) {
  header h1 {
    font-size: 8vw;
    text-align: center;
    width: 100%;
  }
  header h3 {
    text-align: center;
    width: 100%;
    margin-top: 1.25em;
  }
  header ul {
    width: 100%;
    margin-left: -0.625em;
    margin-bottom: 0;
  }
  header ul li {
    width: 100%;
    margin-bottom: 0.125em;
  }
  header ul li a {
    width: 100%;
    text-align: center;
  }
  header ul li a i {
    width: 100%;
    text-align: center;
  }
  header .navigation {
    width: 100%;
  }
  header .navigation .logo {
    margin: 0 auto;
    margin-top: 0.625em;
  }
  header .navigation .content-navigation {
    width: 95%;
    margin: 0 auto;
  }
  header .navigation button {
    display: block;
    float: right;
    display: block;
    margin: -4.375em 0.625em 0 0;
    background: transparent;
    border: none;
  }
  header .navigation button i {
    font-size: 1.875em;
    color: white;
  }
  header .navigation ul {
    position: absolute;
    top: 5em;
    left: 0;
    background: #222;
    margin: 0;
    width: 100%;
    display: none;
  }
  header .navigation ul li {
    padding: 1.25em;
    padding-left: 0.625em;
  }
  header .navigation ul li a {
    color: #cc6699;
  }
  header .navigation ul li a:after {
    font-family: "FontAwesome";
    content: "\f061";
    float: right;
    margin-right: 1.25em;
  }
  header .navigation ul li:hover {
    background: #111;
  }

  .content-sass span {
    margin-left: -0.625em;
  }

  footer {
    float: left;
    display: block;
    clear: both;
    height: auto;
    text-align: center;
  }
  footer img {
    margin: 0 auto;
    display: table;
  }
}
